*{
    border-color:#9ACD32;
   
    background-color: #000000;
    color:#FFFFFF;
}
.abc{
    background-color:#1A0D08;
    
}
.header{
    background-color:#000000;
}
.grid{
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
}
.item{
    border-color:#FFFFFF;
    margin:20px;
    position: relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity:0.5;

}
h2,h1,p{
    text-align: center;
    font-weight:bold;
}
.menu{
    text-align:right;
    margin-right:20px
}
.menu a{
    margin-right:10px;
    padding:5px;
}
